:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: bisque ;
  
  
  overflow-x: hidden;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;  
  place-items: center;  
  backdrop-filter: blur(1px);
  height: 100vh;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}

html::-webkit-scrollbar {
  width: 0.2em;
}
html::-webkit-scrollbar:hover {
  width: 1em;
}
 
html::-webkit-scrollbar-track {
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
}
 
html::-webkit-scrollbar-thumb {
  background-color: rgb(6, 159, 159);
  outline: 1px solid rgb(0, 0, 0);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  font-family: Google Sans,Roboto,Arial,Helvetica,sans-serif;
  margin: 0.5em;
  
  /* border-top: 1px solid #525151;
  border-bottom: 1px solid #525151; */
  
}

h2{
  font-family: Google Sans,Roboto,Arial,Helvetica,sans-serif;
  font-weight: 300;
  
  line-height: 40px;
  margin-bottom: 15px;
  margin-top: 0;
}

nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #202124;
  width: 100vw;
  padding: 1rem;
  color: darkslateblue;
}

footer {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  background-color: #000000;
  width: 100vw;
  height: 5rem;
  padding: 2rem;
  color: #ffffff;
  float: inline-end;
  justify-content: center;
}

section{
  background: linear-gradient(rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.6) 100%), url('https://images.unsplash.com/photo-1524178232363-1fb2b075b655?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80');
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  display: flex;
  flex-direction: column;
  height: 600px;
  width: 100vw;
  padding: 2rem 1.5rem;
  justify-content: center;
}


#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.card{
  display: flex;
  flex-direction: column;
  background-color:rgba(157, 195, 227, 0.4);
  color: black;
  padding: 1rem 3rem;
  border-radius: 0.2em;
  flex-basis: 22.62366%;
  width: 22.62366%;
  margin: 0 1.18817%;
}

.program{
  display: flex;
  flex-direction: column;
  background-color: #232426;
  gap: 2rem;
  padding-top: 2em;
  
}

.program-description{
  display: flex;
  flex-direction: row;
  width: 100vw;
  padding: 1rem 2rem;
  justify-content: space-evenly;
  align-items: center;
}

.program-details{
  display: flex;
  align-self: center;
  border-bottom: 1px solid rgb(6, 159, 159);
  padding-left: 3rem;
  padding-right: 3rem;
}

.card-title {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;

}

.card-text {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 200;
  line-height: 1rem;
  margin: 16px 0px;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.about-us{
  display: flex;
  flex-direction: row;
  background-color: #232426;
  width: 100vw;
  gap:2rem;
  padding: 0.5rem;
  padding-top: 2em;
  padding-bottom: 2em;
}

.about-text {
  display: flex;
  justify-content: space-around;
  text-align: justify;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 300;
  line-height: 2rem;
  margin: 16px 0px;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.contact-field{
  width: 100vw;
  height: 800px;
  background: linear-gradient(rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.75) 100%),  url('https://images.unsplash.com/photo-1524995997946-a1c2e315a42f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80');
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 3em;
  padding-bottom: 2em;
}

.contact-card{

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items:center;
  gap: 3rem;
  width: max-content;
  height: max-content;
  background-color: black;
  padding: 10rem;
  border:2px solid #f9f9f9;
}

input{

  width: 100%;
  height: 2rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  
  background-color: #213547;
  border: 1px solid;
  border-color:midnightblue;

}
textarea{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  
  background-color: #213547;
  border: 1px solid;
  border-color:midnightblue;
}